<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>iAmTracking</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="container text-center">
    <div class="row justify-content-center align-items-center" style="max-height: 100vh;">
        <div class="d-flex vh-100 justify-content-center align-items-center" id="content-window">
            <div class="container">
                <div class="row fade-in scale-in align-items-center mx-auto justify-content-between">
                    <div class="col-4 px-2 jumbotron text-center shadow-lg">
                        <img class="img-fluid" src="https://user-images.githubusercontent.com/11250/39013954-f5091c3a-43e6-11e8-9cac-37cf8e8c8e4e.jpg">
                        <h1 class="pt-3">John Doe</h1>
                        <h5 class="pt-3">Student and CS Major</h5>
                        <span class="pt-3">8313248123</span>
                    </div>
                    <div class="col-7 px-2 jumbotron text-center shadow-lg">
                        <div class="input-group w-100" id="inputGroup" style="display: flex;">
                            <input type="text" id="searchBar" class="form-control rounded mobile-search-show" placeholder="Search..." aria-label="Username" aria-describedby="basic-addon1">
                            <a href="#" class="form-button py-1">
                                <svg class="svg-inline--fa fa-rectangle-xmark fa-lg ml-xl-3 mr-xl-3 unloaded" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="rectangle-xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M448 32C483.3 32 512 60.65 512 96V416C512 451.3 483.3 480 448 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H448zM175 208.1L222.1 255.1L175 303C165.7 312.4 165.7 327.6 175 336.1C184.4 346.3 199.6 346.3 208.1 336.1L255.1 289.9L303 336.1C312.4 346.3 327.6 346.3 336.1 336.1C346.3 327.6 346.3 312.4 336.1 303L289.9 255.1L336.1 208.1C346.3 199.6 346.3 184.4 336.1 175C327.6 165.7 312.4 165.7 303 175L255.1 222.1L208.1 175C199.6 165.7 184.4 165.7 175 175C165.7 184.4 165.7 199.6 175 208.1V208.1z"></path></svg><!-- <i class="fa-lg fas fa-rectangle-xmark ml-xl-3 mr-xl-3 unloaded"></i> Font Awesome fontawesome.com -->

                            </a>
                        </div>
                            <div class="row gx-4 gx-lg-5 mt-4">
                                <div class="post-tile col-12 ">
                                    <!-- Post preview-->
                                    <div class="post-preview card rounded">
                                        <a href="#">
                                            <h5 class="post-title">Work on CMPE-133 project</h5>
                                        </a>
                                        <p class="post-meta">
                                            02/24/2024 - 8:30 AM
                                        </p>
                                    </div>
                                </div>
                                <div class="post-tile col-12 pt-4">
                                    <!-- Post preview-->
                                    <div class="post-preview card rounded">
                                        <a href="#">
                                            <h5 class="post-title">Meditate</h5>
                                        </a>
                                        <p class="post-meta">
                                            02/24/2024 - 8:30 AM
                                        </p>
                                    </div>
                                </div>

                            </div>
                        <!-- End Content-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>