<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>iAmTracking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="container text-center">
    <div class="row justify-content-center align-items-center" style="max-height: 100vh;">
        <div class="col-md-6">
            <div th:if="${msg}" class="message">
                <p th:text="${msg}"></p>
            </div>
            <h1><strong>iAmTracking</strong></h1>
            <p class="tagline mb-4">Your virtual reminder assistant. Powered by GPT-4</p>

            <form class="phone-form mb-3" id="registerForm">
                <div class="row justify-content-center py-2">
                    <input type="email" id="email" class="form-control col-6 align-self-center" placeholder="Email" required>
                </div>
                <div class="row justify-content-center py-2">
                    <input type="password" id="password" class="form-control col-6 align-self-center" placeholder="Password" required>
                </div>
                <div class="row justify-content-center py-2">
                    <button type="button" class="btn btn-primary col-md-2" id="registerButton">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Supabase JS -->
<script type="module">
    import { createClient } from 'https://cdn.jsdelivr.net/npm/@supabase/supabase-js/+esm';

    document.addEventListener('DOMContentLoaded', function() {
        const supabaseUrl = 'https://pzzbasaitpeaelgtbkbw.supabase.co';
        const supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB6emJhc2FpdHBlYWVsZ3Ria2J3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTMwNTk2OTQsImV4cCI6MjAyODYzNTY5NH0.fxLIlleOtAaqbrYiELRMxz_1DFjDbptLZ-zIfTi_zbM';
        const supabase = createClient(supabaseUrl, supabaseKey);

        async function signUpNewUser() {
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;
            const { data, error } = await supabase.auth.signUp({
                email: email,
                password: password,
                options: {
                    emailRedirectTo: 'https://example.com/welcome',
                },
            });

            if (error) {
                console.error("Error signing up:", error.message);
            } else {
                console.log("Sign up successful:", data);
            }
        }

        document.getElementById("registerButton").addEventListener("click", signUpNewUser);
    });
</script>
</body>
</html>
